<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="mq-host" value="amqp://guest:guest@localhost:5672" />
        <add key="listening-queue" value="jobs-queue" />
        <add key="base-job-abstraction" value="IJob" />
        <add key="MathTest" value="F:\Simbrella-Tasks\UserDefinedJobRunnerComponent\ExecutableJobs\MathJobs\bin\Debug\net5.0\MathJobs.dll" />
        <add key="PhysicsTest" value="F:\Simbrella-Tasks\UserDefinedJobRunnerComponent\ExecutableJobs\PhysicsJobs\bin\Debug\net5.0\PhysicsJobs.dll" />
    </appSettings>
</configuration>